.loginForm {
    display: flex;
    height: 100vh;
    justify-content: center;
}
.loginForm > form {
    align-self: center;
}
.loginForm > form > button {
    width: 100%;
    padding: 2%;
}
.formString > label {
    display: block;
    margin-bottom: 3px;
}
.formString {
    margin-bottom: 10px;
}
.formString > input {
    outline: none;
    padding: 2%;
}
form > button {
    margin-top: 12px;
}